	/* black background for page */
  body {
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .header {
    width: 640px;
  }
  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  .search {
    width: 80%;
    height: 40px;
    border-radius: 20px;
    background-color: #1c1c1c;
    border: none;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
  }
  .search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;

  }
  .search-text {
    grid-area: search-text;
    background-color: #1c1c1c;
    border: none;
    color: white;
    font-size: 20px;
  }
  .search-settings-icon {
    width: 4%;
    height: 4%;
    margin-left: 10px;
  }

  .explore-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 640px;
  }

  .explore-article-snippet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
  }

  /* Use css selector to select image from snippet and set width */
  .explore-article > img {
    object-fit: cover;
    border-radius: 10%;
    width: 70px;
    height: 70px;
    margin-right: 40px;
  }
  
  .explore-links {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #1c1c1c;
    margin: 5px;
    justify-content: center;
    width: 100%;
  }
  .explore-links a {
    color: #6e767d;
    font-size: 15px;
    padding: 16px;
    text-decoration: none;
  }
  .explore-links a:hover {
    color: #1da1f2;
  }
  .explore-links a.active {
    color: #1da1f2;
    border-bottom: 2px solid #1da1f2;
  }
  .explore-article-snippet {
    padding: 16px;
    margin: 5px;
  }
  .explore-article-snippet h2 {
    color: #6e767d;
    font-size: 13px;
    margin: 0;
  }
  .explore-article-snippet h3 {
    color: white;
    font-size: 20px;
    margin: 0;
  }
  .explore-article-snippet h4 {
    color: #6e767d;
    font-size: 13px;
    margin: 0;
  }
  