body {
  background-color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  grid-template-areas:
    "header"
    "main-content";
}

/* Header has title with handle below, three dots on the right */
.header {
  grid-area: header;
  grid-template-areas: "title three-dots";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 12px;
  margin-left: 16px;
}
/* Title has title above handle */
.title {
  grid-area: title;
  grid-template-areas: "title" "handle";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.title-text {
  grid-area: title;
  color: white;
  font-size: 20px;
}
.handle {
  grid-area: handle;
  color: #6e767d;
  font-size: 13px;
}
.three-dots {
  grid-area: three-dots;
  margin-right: 16px;
  margin-top: -25px;
  width: 4%;
  height: 4%;
  float: right;
}
.three-dots img {
  width: 50%;
  height: 50%;
  margin-top: -100px;
}
.main-content {
  grid-area: main-content;
  grid-template-areas: "avatar author" "content content" "image image" "title title" "text text" "icons icons";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 16px;
  margin-right: 16px;
}
/* Avatar */
.avatar {
  grid-area: avatar;
  margin-top: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* Content */
.content {
  grid-area: content;
  margin-top: 12px;
  color: white;
  font-size: 15px;
  width: 506px;
}
/* Author */
.author {
  grid-area: author;
  margin-top: 12px;
  grid-template-areas: "author" "handle" "date";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.author-text {
  grid-area: author;
  color: white;
  font-size: 15px;
}
.handle {
  grid-area: handle;
  color: #6e767d;
  font-size: 13px;
}
.date {
  grid-area: date;
  color: #6e767d;
  font-size: 13px;
}
/* Image */
.image {
  grid-area: image;
  margin-top: 12px;
  width: 504px;
  height: 264px;
  border-radius: 12px 12px 0 0;
}
/* Title */
.title {
  grid-area: title;
  margin-top: 12px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
/* Text */
.text {
  grid-area: text;
  margin-top: 12px;
  color: #6e767d;
  font-size: 15px;
  border-radius: 12px;
}
/* Icons */
.icons {
  /* grid-area: icons; */
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  border-top: 1px solid #6e767d;
  border-bottom: 1px solid #6e767d;
}
.icon1 {
  grid-area: icon1;
  color: red;
}
.icon2 {
  grid-area: icon2;
  color: #6e767d;
}
.icon3 {
  grid-area: icon3;
  color: #6e767d;
}
.icon4 {
  grid-area: icon4;
  color: #6e767d;
}
